<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://media.istockphoto.com/photos/table-served-with-middle-eastern-vegetarian-dishes-hummus-tahi-picture-id484539080?k=6&m=484539080&s=170667a&w=0&h=KJMVFX1UdDRfA4kJslAQ_d4y3q-xg6m6lN6LVk2GYag=');">
  <div class="banner-content">
    <h1>Votre livre de recettes</h1>
    <p>Cherchez, créez et partagez vos meilleurs recettes</p>
    <div class="text-center">
      <%= link_to recipes_path, class: "cta-transparent" do %>
      GO !
      <% end %>
    </div>
  </div>
</div>
